
.select2-container .select2-selection--single {
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(2.75rem + 2px);
}
.select2-dropdown {
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
    border: 0;
}
body {
    position: relative;
    min-height: 100vh;
}
footer {
    padding: 20px 30px;
    width: 100%;
    border-top: 1px solid #f2f2f2;
    color: #a9adb1;
    background: #fff;
    position: absolute;
    bottom: 0;
}

.white-block {
    background: #fff;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 6px;
    border: solid 1px #f5f5f5;
    padding: 25px 15px 10px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00c4ff; 
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.block-profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.img-profile {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 5px #000;
}
.img-100 {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.inf-profile {
    padding-left: 16px;
}
.inf-profile p {
    margin-bottom: 0;
    font-size: 12px;color: #000;
    line-height: 120%;
}
/***** */
.prof-tabs {
    padding-left: 0;
    list-style: none;
}
.prof-menu {
    padding: 9px 10px 13px 21px;
}
.prof-menu i {
    width: 20px;
    height: 20px;
    margin-right: 15px;
        display: inline-block;
    vertical-align: middle;
}
.prof-menu p {
        display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    margin-bottom: 3px;
}
.prof-menu p span {
    font-weight: 400;
    font-size: 0.8em;
}
.prof-menu.is-active {
    background-color: #edf4fa;
    -webkit-box-shadow: inset 3px 0 0 #1da5de;
    box-shadow: inset 3px 0 0 #1da5de;
}